<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
        <link
        type="text/css"
        href="{{ url_for('static', filename='css/404css.css')}}"
        rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <link
            type="text/css"
            href="{{ url_for('static', filename='css/mycss.css')}}"
            rel="stylesheet"
        />
        <link
            type="text/css"
            href="{{ url_for('static', filename='css/bg-img.css')}}"
            rel="stylesheet"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-nav-foot" href="/"
                        ><img
                            src="https://cdn.head-fi.org/a/11005806_thumb.gif?1582612969"
                            alt="..."
                    /></a>

                    <div
                        class="collapse navbar-collapse"
                        id="navbarNavAltMarkup"
                    >
                        <div class="navbar-nav">
                            {% for i in navbar -%}
                            <a
                                class="nav-link text-nav-foot"
                                aria-current="page"
                                href="{{i.url}}"
                            >
                                {{i.title}}
                            </a>
                            {% endfor %}
                            {% if current_user.get_id() %}
                            <a
                                class="nav-link text-nav-foot"
                                aria-current="page"
                                href="{{url_for('profile')}}"
                            >
                                Profile
                            </a>
                            {% else %}
                            <a
                                class="nav-link text-nav-foot"
                                aria-current="page"
                                href="{{url_for('login')}}"
                            >
                                Log in
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-dark bg-dark fixed-top navbar-m">
                <div class="container-fluid">
                    <a class="navbar-brand text-nav-foot" href="/"
                        ><img
                            src="https://cdn.head-fi.org/a/11005806_thumb.gif?1582612969"
                            alt="..."
                    /></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasDarkNavbar"
                        aria-controls="offcanvasDarkNavbar"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="offcanvas offcanvas-end text-bg-dark"
                        tabindex="-1"
                        id="offcanvasDarkNavbar"
                        aria-labelledby="offcanvasDarkNavbarLabel"
                    >
                        <div class="offcanvas-header">
                            <button
                                type="button"
                                class="btn-close btn-close-white"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul
                                class="navbar-nav justify-content-end flex-grow-1 pe-3"
                            >
                                {% for m in navbar -%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{m.url}}"
                                        >{{m.name}}</a
                                    >
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="bg-img">
                <img
                    src="https://face.gta.world/content/uploads/photos/2021/04/fb_bf6a7855d27a43fc6f38a3c01e63c10c.jpg"
                    alt=""
                />
                <div class="img-effect"></div>
                <div class="img-text"><h1></h1></div>
            </div>
            {% block section %} {% endblock %}
            <button onclick="topFunction()" id="upBtn" title="Go to top">
                Top
            </button>
        </section>
        <footer>
            <ul class="nav justify-content-center text-nav-foot nav-footer">
                <li class="nav-item">
                    <a class="nav-link text-nav-foot" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nav-foot" href="#">Link</a>
                </li>
            </ul>
        </footer>
        <script>
            window.onscroll = function () {
                scrollFunction();
            };

            function scrollFunction() {
                if (
                    document.body.scrollTop > 20 ||
                    document.documentElement.scrollTop > 20
                ) {
                    document.getElementById("upBtn").style.display = "block";
                } else {
                    document.getElementById("upBtn").style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
