{% extends 'base.html' %} {% block section %}
<div class="container-fluid form-feedback">
    <div class="row">
        <div class="col-lg-4 col-md-12"></div>
        <div class="col-lg-4 col-md-12 my-4">
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="alert alert-{{cat}}" role="alert">{{msg}}</div>
            {% endfor %}
            <form action="{{url_for('feedback')}}" method="post">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Username in Telegram"
                        aria-label="Username"
                        aria-describedby="addon-wrapping"
                        name="username_feedback"
                        required
                    />
                </div>
                <div class="form-floating my-2">
                    <textarea
                        class="form-control"
                        placeholder="Leave a comment here"
                        id="floatingTextarea2"
                        style="height: 100px"
                        name="message"
                        required
                    ></textarea>
                    <label for="floatingTextarea2">Your message</label>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-12"></div>
    </div>
</div>
{% endblock %}
